attrs==17.4.0
backports.functools-lru-cache==1.5
boto==2.48.0
boto3==1.6.19
botocore==1.9.19
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
docutils==0.14
funcsigs==1.0.2
funcy==1.10.1
future==0.16.0
futures==3.2.0
gensim==3.4.0
idna==2.6
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
more-itertools==4.1.0
nltk==3.2.5
numexpr==2.6.4
numpy==1.14.2
pandas==0.22.0
Pillow==5.0.0
pluggy==0.6.0
py==1.10.0
pyLDAvis==2.1.1
pyparsing==2.2.0
pytest==3.5.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
smart-open==1.5.7
subprocess32==3.2.7
urllib3==1.24.2
wordcloud==1.4.1
